/*.profile-grid.my-1.gr{
  float: left;
}*/

body {
  font-family: sans-serif;
}

h1 {
  color: rgb(23, 162, 184);
  margin-left: 40px;
}
h3 {
    font-size: 15;
    font-family: sans-serif;
}
.button {
    background-color:rgb(23, 162, 184);
    border: none;
    padding: 15px 25px;
    color: white;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.button1 {
    background-color:rgb(237, 94, 104);
    border: none;
    padding: 15px 25px;
    color: white;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.button:hover {
    background-color:#228999;
}
.button1:hover {
    background-color:#b82b00;
}
.sidebar-right{
  background-color: #f4f4f4;
  height: 540px;
  position: relative;
  float: right;
  padding: 0;
  margin: 1rem 0;
  border: 1px solid #cccccc;
}
.sidebar-right .title{
  font-size: 0px;
}
#group-mem{
  margin: 0;
}
#group-info{
  margin: 0;
}
.side-content{
  padding: 0.5rem;
  position: relative;
}

#members{
  position: absolute;
}
#info{
  position: absolute;
}

